<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= flash[:notice] %>
        <% if @whiskeys.present? %>
          <% @whiskeys.each do |whiskey| %>
            <div class="card mb-6">
              <header class="card-header">
                <p class="card-header-title">
                  <%= whiskey.name %>
                </p>
              </header>
              <div class="card-content">           
  						 	<div class="row">
  						 		<div class="col-xs-8 col-xs-offset-2">
  							 		<% if whiskey.image? %>
  							      <%= image_tag whiskey.image.to_s, size:'300x300' %> 
  							    <% else %>
  							      <%= image_tag "no_image.jpg", size:'300x300' %>    
  							    <% end %>
  							  </div>  
  							</div>	
  		 				 　<div class="content">
                  <div class="content average-score">
                    <div class="star-rating mb-2">

                      <script src="assets/jquery.raty.js"></script>
                      <div class="average-review-rating" data-score="<%= whiskey.rating %>"></div>

                    </div>
                    <div class="average-score-display ml-3 pt-2">
                    投稿日: <%= whiskey.created_at.strftime('%Y/%m/%d') %><br>
                    コメント: <%= whiskey.post_comments.count %>件
                    </div>
                  </div>
                </div>
              </div>
              <footer class="card-footer">
                <%= link_to whiskey_comments_whiskey_path(whiskey), class: "button card-footer-item" do %>
                  コメントを見る
                <% end %>
                <%= link_to whiskey_path(whiskey), class: "button card-footer-item" do %>
                  詳細へ
                <% end %>
              </footer>
            </div>
          <% end %>
          <%= paginate @whiskeys %> 
        <% else %>
          <h1 class="no_result">お探しのウィスキーはありません</h1>
        <% end %>
      </div>
    </div>
  </div>
</section>


<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>  


  


