<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <%= flash[:notice] %>
        <div class="card mb-6">
          <header class="card-header">
            <div class="card-content">           
              <div class="row">
                <div class="col-xs-12">
                  <p class="name"><%= @whiskey.name %></p>
                </div>
              </div>
            </div>
          </header>
          <div class="card-content">           
            <div class="row">
              <div class="text-center">           
  					 		<% if @whiskey.image? %>
  					 			<%= image_tag @whiskey.image.to_s, size:'300x300' %>
  					    <% else %>
  					      <%= image_tag "no_image.jpg", size:'300x300' %>    
  					    <% end %>
              </div>
            </div>
          </div> 
			  		         
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
              	<script src="assets/jquery.raty.js"></script>
                <div class="average-review-rating" data-score="<%= @whiskey.rating %>"></div>
              </div>
                         
            </div>
						<div>
							<ul>
					 			<li>種別: <%= @whiskey.genre.genre%></li>
								<li>産地: <%= @whiskey.district.district %></li>
								<li>購入価格: ¥<%= @whiskey.price %></li>
								<li class="info"><%= @whiskey.body %></li>
							</ul>
             
              <div class="comment-list bt style-2" id="comments">
                <div class="float-wrapper">
                  <%= link_to whiskey_comments_whiskey_path(@whiskey), class: "comment fa fa-comment" do %>
                    <%= @whiskey.post_comments.count %>件コメント
                  <% end %>
                </div>
              </div>

              <%= form_for [@whiskey, @whiskey.post_comments.build] do |f| %>
                <div class="row">
                  <div class="col-sm-12">
                    <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
                  </div>
                </div>
                <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20" %>
              <% end %>
                
					 	</div>
          </div>
				</div>
      </div>
    </div>
  </div>
</section>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>  







