<p class="is-size-4 md-3">レビューを書く</p>
<div class="rating-box mt-3">
	<%= form_with model: review, url: whiskey_reviews_path(whiskey), local: true |f| do %>
		<div class="main-rating">
			<div class="ration mb-3">
				<span class="fa fa-star-o" id="star"></span>
				<span class="fa fa-star-o" id="star"></span>
				<span class="fa fa-star-o" id="star"></span>
				<span class="fa fa-star-o" id="star"></span>
				<span class="fa fa-star-o" id="star"></span>
			</div>
			<div class="ml-3 rating-value-display"><span id="rating-value-display">0</span>/5</div>
		</div>
		<%= f.hidden_field :whiskey_id, value: whiskey.id %>
		<%= f.hidden_field :score, id: "rating-value" %>
		<%= f.text_field :content, class: "textarea" %>
		<%= f.submit "保存", class: "button mt-3" %>
		<%= link_to "他のレビューへ", whiskey_reviews_path(whiskey), class: "button light ml-3 mt-3" %>
	<% end %>
</div>	
