<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://kit.fontawesome.com/484e6509e8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="topNavigation">
      <nav class="navbar">
        <a class="navbar-brand text-dark"><%= link_to "ウィスキーがお好きでしょ？", whiskeys_path, class:"nav-link"  %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <div class="navbar-nav">
            <a class="nav-link text-dark"><%= link_to "新規投稿", new_whiskey_path, class:"nav-link" %></a>
          </div>
        </div>
        <div class="navbar-nav">  
          <a class="nav-link text-dark">
            <%= form_tag whiskeys_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag 'ウィスキー検索', :name => nil %>
            <% end %>
          </a>
        </div>  
      </nav>
    </header>
    <%= yield %>
    
  </body>

</html>


